<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>PCFactory</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServAuthAddProcessing</display-name>
    <servlet-name>ServAuthAddProcessing</servlet-name>
    <servlet-class>main.ServAuthAddProcessing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServAuthAddProcessing</servlet-name>
    <url-pattern>/ServAuthAddProcessing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServAuthDel</display-name>
    <servlet-name>ServAuthDel</servlet-name>
    <servlet-class>main.ServAuthDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServAuthDel</servlet-name>
    <url-pattern>/ServAuthDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServAuthList</display-name>
    <servlet-name>ServAuthList</servlet-name>
    <servlet-class>main.ServAuthList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServAuthList</servlet-name>
    <url-pattern>/ServAuthList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServAuthMod</display-name>
    <servlet-name>ServAuthMod</servlet-name>
    <servlet-class>main.ServAuthMod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServAuthMod</servlet-name>
    <url-pattern>/ServAuthMod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServAuthModProcessing</display-name>
    <servlet-name>ServAuthModProcessing</servlet-name>
    <servlet-class>main.ServAuthModProcessing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServAuthModProcessing</servlet-name>
    <url-pattern>/ServAuthModProcessing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServAuthRoster</display-name>
    <servlet-name>ServAuthRoster</servlet-name>
    <servlet-class>main.ServAuthRoster</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServAuthRoster</servlet-name>
    <url-pattern>/ServAuthRoster</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServAuthView</display-name>
    <servlet-name>ServAuthView</servlet-name>
    <servlet-class>main.ServAuthView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServAuthView</servlet-name>
    <url-pattern>/ServAuthView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServCompAdd</display-name>
    <servlet-name>ServCompAdd</servlet-name>
    <servlet-class>main.ServCompAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServCompAdd</servlet-name>
    <url-pattern>/ServCompAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServCompAddProcessing</display-name>
    <servlet-name>ServCompAddProcessing</servlet-name>
    <servlet-class>main.ServCompAddProcessing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServCompAddProcessing</servlet-name>
    <url-pattern>/ServCompAddProcessing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServCompDel</display-name>
    <servlet-name>ServCompDel</servlet-name>
    <servlet-class>main.ServCompDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServCompDel</servlet-name>
    <url-pattern>/ServCompDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServCompList</display-name>
    <servlet-name>ServCompList</servlet-name>
    <servlet-class>main.ServCompList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServCompList</servlet-name>
    <url-pattern>/ServCompList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServCompMod</display-name>
    <servlet-name>ServCompMod</servlet-name>
    <servlet-class>main.ServCompMod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServCompMod</servlet-name>
    <url-pattern>/ServCompMod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServCompModProcessing</display-name>
    <servlet-name>ServCompModProcessing</servlet-name>
    <servlet-class>main.ServCompModProcessing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServCompModProcessing</servlet-name>
    <url-pattern>/ServCompModProcessing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServCompPRoster</display-name>
    <servlet-name>ServCompPRoster</servlet-name>
    <servlet-class>main.ServCompPRoster</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServCompPRoster</servlet-name>
    <url-pattern>/ServCompPRoster</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServCompView</display-name>
    <servlet-name>ServCompView</servlet-name>
    <servlet-class>main.ServCompView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServCompView</servlet-name>
    <url-pattern>/ServCompView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServDealerAdd</display-name>
    <servlet-name>ServDealerAdd</servlet-name>
    <servlet-class>main.ServDealerAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServDealerAdd</servlet-name>
    <url-pattern>/ServDealerAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServDealerAddProcessing</display-name>
    <servlet-name>ServDealerAddProcessing</servlet-name>
    <servlet-class>main.ServDealerAddProcessing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServDealerAddProcessing</servlet-name>
    <url-pattern>/ServDealerAddProcessing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServDealerDel</display-name>
    <servlet-name>ServDealerDel</servlet-name>
    <servlet-class>main.ServDealerDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServDealerDel</servlet-name>
    <url-pattern>/ServDealerDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServDealerList</display-name>
    <servlet-name>ServDealerList</servlet-name>
    <servlet-class>main.ServDealerList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServDealerList</servlet-name>
    <url-pattern>/ServDealerList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServDealerMod</display-name>
    <servlet-name>ServDealerMod</servlet-name>
    <servlet-class>main.ServDealerMod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServDealerMod</servlet-name>
    <url-pattern>/ServDealerMod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServDealerModProcessing</display-name>
    <servlet-name>ServDealerModProcessing</servlet-name>
    <servlet-class>main.ServDealerModProcessing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServDealerModProcessing</servlet-name>
    <url-pattern>/ServDealerModProcessing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServDealerSList</display-name>
    <servlet-name>ServDealerSList</servlet-name>
    <servlet-class>main.ServDealerSList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServDealerSList</servlet-name>
    <url-pattern>/ServDealerSList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServDealerView</display-name>
    <servlet-name>ServDealerView</servlet-name>
    <servlet-class>main.ServDealerView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServDealerView</servlet-name>
    <url-pattern>/ServDealerView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServDeptAdd</display-name>
    <servlet-name>ServDeptAdd</servlet-name>
    <servlet-class>main.ServDeptAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServDeptAdd</servlet-name>
    <url-pattern>/ServDeptAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServDeptAddProcessing</display-name>
    <servlet-name>ServDeptAddProcessing</servlet-name>
    <servlet-class>main.ServDeptAddProcessing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServDeptAddProcessing</servlet-name>
    <url-pattern>/ServDeptAddProcessing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServDeptDel</display-name>
    <servlet-name>ServDeptDel</servlet-name>
    <servlet-class>main.ServDeptDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServDeptDel</servlet-name>
    <url-pattern>/ServDeptDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServAuthAdd</display-name>
    <servlet-name>ServAuthAdd</servlet-name>
    <servlet-class>main.ServAuthAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServAuthAdd</servlet-name>
    <url-pattern>/ServAuthAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServDeptHist</display-name>
    <servlet-name>ServDeptHist</servlet-name>
    <servlet-class>main.ServDeptHist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServDeptHist</servlet-name>
    <url-pattern>/ServDeptHist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServDeptMod</display-name>
    <servlet-name>ServDeptMod</servlet-name>
    <servlet-class>main.ServDeptMod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServDeptMod</servlet-name>
    <url-pattern>/ServDeptMod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServDeptModProcessing</display-name>
    <servlet-name>ServDeptModProcessing</servlet-name>
    <servlet-class>main.ServDeptModProcessing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServDeptModProcessing</servlet-name>
    <url-pattern>/ServDeptModProcessing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServDeptRoster</display-name>
    <servlet-name>ServDeptRoster</servlet-name>
    <servlet-class>main.ServDeptRoster</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServDeptRoster</servlet-name>
    <url-pattern>/ServDeptRoster</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServDeptView</display-name>
    <servlet-name>ServDeptView</servlet-name>
    <servlet-class>main.ServDeptView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServDeptView</servlet-name>
    <url-pattern>/ServDeptView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServEmpAdd</display-name>
    <servlet-name>ServEmpAdd</servlet-name>
    <servlet-class>main.ServEmpAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServEmpAdd</servlet-name>
    <url-pattern>/ServEmpAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServEmpAddProcessing</display-name>
    <servlet-name>ServEmpAddProcessing</servlet-name>
    <servlet-class>main.ServEmpAddProcessing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServEmpAddProcessing</servlet-name>
    <url-pattern>/ServEmpAddProcessing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServEmpDel</display-name>
    <servlet-name>ServEmpDel</servlet-name>
    <servlet-class>main.ServEmpDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServEmpDel</servlet-name>
    <url-pattern>/ServEmpDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServEmpList</display-name>
    <servlet-name>ServEmpList</servlet-name>
    <servlet-class>main.ServEmpList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServEmpList</servlet-name>
    <url-pattern>/ServEmpList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServEmpMod</display-name>
    <servlet-name>ServEmpMod</servlet-name>
    <servlet-class>main.ServEmpMod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServEmpMod</servlet-name>
    <url-pattern>/ServEmpMod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServEmpModProcessing</display-name>
    <servlet-name>ServEmpModProcessing</servlet-name>
    <servlet-class>main.ServEmpModProcessing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServEmpModProcessing</servlet-name>
    <url-pattern>/ServEmpModProcessing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServEmpProdEList</display-name>
    <servlet-name>ServEmpProdEList</servlet-name>
    <servlet-class>main.ServEmpProdEList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServEmpProdEList</servlet-name>
    <url-pattern>/ServEmpProdEList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServEmpProdPList</display-name>
    <servlet-name>ServEmpProdPList</servlet-name>
    <servlet-class>main.ServEmpProdPList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServEmpProdPList</servlet-name>
    <url-pattern>/ServEmpProdPList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServEmpView</display-name>
    <servlet-name>ServEmpView</servlet-name>
    <servlet-class>main.ServEmpView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServEmpView</servlet-name>
    <url-pattern>/ServEmpView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServExit</display-name>
    <servlet-name>ServExit</servlet-name>
    <servlet-class>main.ServExit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServExit</servlet-name>
    <url-pattern>/ServExit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServIndex</display-name>
    <servlet-name>ServIndex</servlet-name>
    <servlet-class>main.ServIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServIndex</servlet-name>
    <url-pattern>/ServIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServProdAdd</display-name>
    <servlet-name>ServProdAdd</servlet-name>
    <servlet-class>main.ServProdAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServProdAdd</servlet-name>
    <url-pattern>/ServProdAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServProdAddProcessing</display-name>
    <servlet-name>ServProdAddProcessing</servlet-name>
    <servlet-class>main.ServProdAddProcessing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServProdAddProcessing</servlet-name>
    <url-pattern>/ServProdAddProcessing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServProdCRoster</display-name>
    <servlet-name>ServProdCRoster</servlet-name>
    <servlet-class>main.ServProdCRoster</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServProdCRoster</servlet-name>
    <url-pattern>/ServProdCRoster</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServProdDel</display-name>
    <servlet-name>ServProdDel</servlet-name>
    <servlet-class>main.ServProdDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServProdDel</servlet-name>
    <url-pattern>/ServProdDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServProdList</display-name>
    <servlet-name>ServProdList</servlet-name>
    <servlet-class>main.ServProdList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServProdList</servlet-name>
    <url-pattern>/ServProdList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServProdMod</display-name>
    <servlet-name>ServProdMod</servlet-name>
    <servlet-class>main.ServProdMod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServProdMod</servlet-name>
    <url-pattern>/ServProdMod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServProdModProcessing</display-name>
    <servlet-name>ServProdModProcessing</servlet-name>
    <servlet-class>main.ServProdModProcessing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServProdModProcessing</servlet-name>
    <url-pattern>/ServProdModProcessing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServProdView</display-name>
    <servlet-name>ServProdView</servlet-name>
    <servlet-class>main.ServProdView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServProdView</servlet-name>
    <url-pattern>/ServProdView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServSalerdAdd</display-name>
    <servlet-name>ServSalerdAdd</servlet-name>
    <servlet-class>main.ServSalerdAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServSalerdAdd</servlet-name>
    <url-pattern>/ServSalerdAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServSalerdAddProcessing</display-name>
    <servlet-name>ServSalerdAddProcessing</servlet-name>
    <servlet-class>main.ServSalerdAddProcessing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServSalerdAddProcessing</servlet-name>
    <url-pattern>/ServSalerdAddProcessing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServSalerdDel</display-name>
    <servlet-name>ServSalerdDel</servlet-name>
    <servlet-class>main.ServSalerdDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServSalerdDel</servlet-name>
    <url-pattern>/ServSalerdDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServSalerdList</display-name>
    <servlet-name>ServSalerdList</servlet-name>
    <servlet-class>main.ServSalerdList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServSalerdList</servlet-name>
    <url-pattern>/ServSalerdList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServSalerdView</display-name>
    <servlet-name>ServSalerdView</servlet-name>
    <servlet-class>main.ServSalerdView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServSalerdView</servlet-name>
    <url-pattern>/ServSalerdView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServStat</display-name>
    <servlet-name>ServStat</servlet-name>
    <servlet-class>main.ServStat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServStat</servlet-name>
    <url-pattern>/ServStat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServStatView</display-name>
    <servlet-name>ServStatView</servlet-name>
    <servlet-class>main.ServStatView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServStatView</servlet-name>
    <url-pattern>/ServStatView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServLogin</display-name>
    <servlet-name>ServLogin</servlet-name>
    <servlet-class>main.ServLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServLogin</servlet-name>
    <url-pattern>/ServLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServDeptList</display-name>
    <servlet-name>ServDeptList</servlet-name>
    <servlet-class>main.ServDeptList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServDeptList</servlet-name>
    <url-pattern>/ServDeptList</url-pattern>
  </servlet-mapping>
</web-app>